<card [items]="'Informes,Seguimientos'">
    <div role="button" class="card-button" *ngIf="permiso.crear == 1">
        <button type="button" class="btn btn-primary" (click)="openSeguimiento()"><i class="fa fa-plus"></i></button>
    </div>
    <div role="body">
        <div class="filter-content">
            <button type="button" class="btn btn-info" (click)="exportarExcel()">Exportar Excel</button>
            <input type="search" placeholder="Buscar..." (keyup)="search($event)" (search)="clearSearch($event)">
        </div>
        <!-- <div class="filter-content filter-left">
            <select class="form-control">
                <option value="0">Seleccionar</option>
            </select>
            <select class="form-control">
                <option value="0">Seleccionar</option>
            </select>
            <select class="form-control">
                <option value="0">Seleccionar</option>
            </select>
            <select class="form-control">
                <option value="0">Seleccionar</option>
            </select>
            <select class="form-control">
                <option value="0">Seleccionar</option>
            </select>
        </div> -->
        <div class="table-content-1">
            <table class="table table-condensed table-striped">
                <thead class="tablehead">
                    <tr>
                        <th>Estado</th>
                        <th>Porcentaje</th>
                        <th>Código Inspección</th>
                        <th>Nombre Inspección</th>
                        <th>Tipo Inspección</th>
                        <th>Unidad</th>
                        <th>Dependencia</th>
                        <th>Código Hallazgo</th>
                        <th>Descripción Hallazgo</th>
                        <th>Fecha Hallazgo</th>
                        <th>Código Tema</th>
                        <th>Tema Catalogación</th>
                        <th>Criterio que se inclumple</th>
                        <th>Causa del Incumplimiento</th>
                        <th>Actividad</th>
                        <th>Entregable</th>
                        <th>Cantidad Entregable</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Termino</th>
                        <th>Seguimiento</th>
                        <th>Fecha Seguimiento</th>
                        <th>Días Restantes</th>
                        <th>Fecha Concepto</th>
                        <th>Concepto Efectividad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="tablebody">
                    <tr *ngFor="let item of varhistorial">
                        <td>
                            <div *ngIf="item.estado == 0"><img class="cal" src="../../../../assets/img/circle_green.png" alt=""></div>
                            <div *ngIf="item.estado == 1"><img class="cal" src="../../../../assets/img/circle_red.png" alt=""></div>
                        </td>
                        <td>{{ item.porcentaje }}%</td>
                        <td>{{ item.codigo_inspeccion }}</td>
                        <td>{{ item.nombre_inspeccion }}</td>
                        <td>{{ item.tipo_inspeccion }}</td>
                        <td>{{ item.unidad }}</td>
                        <td>{{ item.dependencia }}</td>
                        <td>{{ item.codificacion }}</td>
                        <td>{{ item.hallazgo }}</td>
                        <td>{{ item.fecha_hallazgo }}</td>
                        <td>{{ item.codigo_tema }}</td>
                        <td>{{ item.tema_catalogacion }}</td>
                        <td>{{ item.criterio_hallazgo }}</td>
                        <td>{{ item.causa }}</td>
                        <td>{{ item.actividad }}</td>
                        <td>{{ item.entregable }}</td>
                        <td>{{ item.cantidad_entregable }}</td>
                        <td>{{ item.fecha_inicio }}</td>
                        <td>{{ item.fecha_termino }}</td>
                        <td>{{ item.seguimiento }}</td>
                        <td>{{ item.fecha_seguimiento }}</td>
                        <td>{{ item.dias_restantes }}</td>
                        <td>{{ item.fecha_concepto }}</td>
                        <td>{{ item.concepto_efectividad }}</td>
                        <td class="buttons">
                            <button type="button" class="btn btn-info" (click)="editSeguimiento(item)"><i class="fa fa-pencil"></i></button>
                            <!-- <button type="button" class="btn btn-info" (click)="infoSeguimiento(item)">Ver más</button> -->
                        </td>
                    </tr>
                    <tr *ngIf="varhistorial?.length == 0">
                        <div class="dbempty">No hay registros.</div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</card>

<app-modal [title]="model.title" [show]="modal" [size]="'modal-lg2 modal-h90'" [scroll]="'modal-scroll'" (close)="closeSeguimiento($event)">
    <div role="body">
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>Inspección <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varSeguimiento.codigo_inspeccion" (click)="saveInspeccion()" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Nombre Inspección</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.nombre_inspeccion" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Fecha Concepto Efectividad</label>
                    <input type="date" class="form-control" [(ngModel)]="model.varSeguimiento.fecha_concepto" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Concepto Efectividad</label>
                    <select [(ngModel)]="model.varSeguimiento.concepto_efectividad_id" class="form-control">
                        <option value="0" selected="selected">Seleccionar...</option>
                        <option *ngFor="let item of lstConcepto" value="{{ item.concepto_efectividad_id }}">{{ item.concepto_efectividad }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Código Hallazgo <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.codificacion" disabled>
                </div>
                <div class="input-group">
                    <label>Causa del Incumplimiento <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varSeguimiento.causa" (click)="saveCausa()" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Actividad / Descripción <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varSeguimiento.actividad" (click)="saveActividad()" [disabled]="model.IsLectura">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Seguimiento <span class="form-required">(*)</span></label>
                    <textarea class="form-control" [(ngModel)]="model.varSeguimiento.seguimiento"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Fecha Seguimiento <span class="form-required">(*)</span></label>
                    <input type="date" class="form-control" [(ngModel)]="model.varSeguimiento.fecha_seguimiento" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Código Tema</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.codigo_tema" disabled>
                </div>
                <div class="input-group">
                    <label>Tema Catalogación</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.tema_catalogacion" disabled>
                </div>
            </div>
            <div class="line-col"></div>
            <div class="row">
                <div class="input-group">
                    <label>Anexos</label>
                    <button type="button" class="btn btn-info" (click)="fileUpload.click()" style="width: 200px !important;">Elegir archivos</button>
                    <input type="file" #fileUpload (change)="uploadFile($event)">
                    <span class="label-archivo">{{ model.varSeguimiento.archivo }}</span>
                </div>
            </div>
            <div class="form-table" *ngIf="model.lstArchivo.length != 0">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descargar</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.lstArchivo">
                                <td>{{ item.nombre }}</td>
                                <td><button type="button" class="btn btn-info"><a href="{{ item.link }}"><i class="fa fa-download"></i></a></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="line-col"></div>
            <div class="row">
                <div class="input-group">
                    <label>Responsable Seguimiento</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.responsable" disabled>
                </div>
                <div class="input-group">
                    <label>Avance Físico de Ejecución (Sólo Porcentaje) <span class="form-required"></span></label>
                    <input type="number" class="form-control" min="0" max="100" [(ngModel)]="model.varSeguimiento.porcentaje" [disabled]="model.IsLectura" notnegative>
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSeguimiento(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="crearSeguimiento()" *ngIf="model.isCrear == true">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarSeguimiento()"  *ngIf="model.isCrear == false">Actualizar</button>
    </div>
</app-modal>

<app-select-modal [title]="model.titleModal" [titleHeader]="'Código,Nombre Inspección'" [show]="selectInspeccionModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectInspeccionModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectInspeccionModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-select-modal [title]="model.titleModal" [titleHeader]="'Código,Tema Catalogación'" [show]="selectCodigoTemaModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectCodigoTemaModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectCodigoTemaModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-select-modal [title]="model.titleModal" [titleHeader]="'Codificación,Tipo Hallazgo'" [show]="selectHallazgoModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectHallazgoModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectHallazgoModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-select-modal [title]="model.titleModal" [titleHeader]="'Causa del Incumplimiento'" [show]="selectCausaModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectCausaModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectCausaModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-select-modal [title]="model.titleModal" [titleHeader]="'Descripción,Entregable,Dependencia'" [show]="selectActividadModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectActividadModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectActividadModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-modal [title]="'Ver Info'" [show]="infoModal" [size]="'modal-md-1 modal-h70'" [scroll]="'modal-scroll'" (close)="closeInfoModal($event)">
    <div role="body">
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>Código Inspección</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.codigo_inspeccion" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Nombre Inspección</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.nombre_inspeccion" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Código Hallazgo</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.codificacion" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Causa del Incumplimiento</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.causa" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Actividad / Descripción</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.actividad" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Código Tema</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.codigo_tema" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Tema Catalogación</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.tema_catalogacion" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Responsable</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varSeguimiento.responsable" disabled>
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeInfoModal(false)">Cerrar</button>
    </div>
</app-modal>