<card [items]="'Informes,Plan Inspección'">
    <div role="body">
        <div class="filter-content">
            <input type="search" placeholder="Buscar..." (keyup)="search($event)" (search)="clearSearch($event)">
        </div>
        <div class="table-content">
            <table class="table flex-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Unidad</th>
                        <th>Nombre Inspección</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="scroll">
                    <tr *ngFor="let item of varhistorial">
                        <td>{{ item.codigo }}</td>
                        <td>{{ item.unidad }}</td>
                        <td>{{ item.nombre_inspeccion }}</td>
                        <td class="buttons">
                            <button type="button" class="btn btn-info" (click)="openInforme(item)"><i class="fa fa-bookmark"> Informe</i></button>
                        </td>
                    </tr>
                    <tr *ngIf="varhistorial?.length == 0">
                        <div class="dbempty">No hay registros.</div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</card>

<app-modal [title]="model.title" [show]="modal" [size]="'modal-lg1'" (close)="closeInformeModal($event)">
    <div role="body">
        <div [innerHTML]="url" class="iframe"></div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeInformeModal(false)">Cerrar</button>
        <button type="button" class="btn btn-primary"><a href="{{ link }}">Descargar</a></button>
    </div>
</app-modal>