<card [items]="'Inspecciones'">
    <div role="button" class="card-button" *ngIf="permiso.crear == 1">
        <button type="button" class="btn btn-primary" (click)="openInspeccion()"><i class="fa fa-plus"></i></button>
    </div>
    <div role="body">
        <div class="filter-content">
            <input type="search" placeholder="Buscar..." (keyup)="search($event)" (search)="clearSearch($event)">
        </div>
        <div class="table-content">
            <table class="table flex-table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre Inspección</th>
                        <th>Fecha Inicio Reunión Apertura</th>
                        <th>Tipo de Inspección</th>
                        <th>Plan de Inspección</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="scroll">
                    <tr *ngFor="let item of varhistorial">
                        <td>{{ item.codigo }}</td>
                        <td>{{ item.nombre_inspeccion }}</td>
                        <td>{{ item.fecha_inicio }}</td>
                        <td>{{ item.tipo_inspeccion }}</td>
                        <td class="buttons">
                            <button type="button" class="btn btn-info" (click)="openPlan(item)"><i class="fa fa-bookmark"> </i></button>
                        </td>
                        <td class="buttons">
                            <button type="button" class="btn btn-info" (click)="editInspeccion(item)"><i class="fa fa-pencil"> Editar</i></button>
                        </td>
                    </tr>
                    <tr *ngIf="varhistorial?.length == 0">
                        <div class="dbempty">No hay registros.</div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</card>

<app-modal [title]="model.title" [show]="modal" [size]="'modal-lg-md modal-h80'" [scroll]="'modal-scroll'" (close)="closeInspeccion($event)">
    <div role="body">
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>Nombre Inspección <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" [(ngModel)]="model.varInspeccion.nombre_inspeccion" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Código <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control"[(ngModel)]="model.varInspeccion.codigo"  [disabled]="model.IsLectura">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>UMA <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" (click)="saveUnidad()" [(ngModel)]="model.varInspeccion.unidad" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Dependencia</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varInspeccion.dependencia" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Aspecto a inspeccionar <span class="form-required">(*)</span></label>
                    <textarea class="form-control" rows="4" [(ngModel)]="model.varInspeccion.aspecto"  [disabled]="model.IsLectura"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Responsable <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varInspeccion.responsable" (click)="saveResponsable()" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Cargo <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" [(ngModel)]="model.varInspeccion.cargo_resp"  [disabled]="model.IsLectura">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Inspector General / Jefe Oficina Regional Inspección y Control <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varInspeccion.inspector_general" (click)="saveInspectorGeneral()" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Inspector Líder <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varInspeccion.inspector_lider" (click)="saveInspectorLider()" [disabled]="model.IsLectura">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Objetivo de la inspección <span class="form-required">(*)</span></label>
                    <textarea class="form-control" rows="4" [(ngModel)]="model.varInspeccion.objetivo" [disabled]="model.IsLectura"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Alcance de la inspección <span class="form-required">(*)</span></label>
                    <textarea class="form-control" rows="4" [(ngModel)]="model.varInspeccion.alcance"  [disabled]="model.IsLectura"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Tipo Inspección <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varInspeccion.tipo_inspeccion" (click)="saveTipoInspeccion()" [disabled]="model.IsLectura">
                </div>
            </div>
            <div class="line-col"></div>
            <div class="col col100 title-row">CRITERIO DE LA INSPECCIÓN</div>
            <div class="row">
                <div class="input-group">
                    <label style="color: #3F518D">En forma general <span class="form-required">(*)</span></label>
                </div>
            </div>
            <div class="form-table">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Criterio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.varCriterios; let i = index">
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." title="{{ item.criterio }}" [(ngModel)]="item.criterio" (click)="saveCriterios(i)" [disabled]="model.IsLectura"></td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.varCriterios[i].NuevoRegistro" (click)="deleteCriterio(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.varCriterios[i].EliminarRegistro" (click)="eliminarCriterio(item, i)"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addCriterio()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.varCriterios?.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label style="color: #3F518D">En forma particular <span class="form-required">(*)</span></label>
                </div>
            </div>
            <div class="form-table">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Criterio</th>
                                <th>Procesos - SubProcesos</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.lstParticular; let i = index">
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." title="{{ item.criterio }}" [(ngModel)]="item.criterio" (click)="saveCriteriosParticular(i)" [disabled]="model.IsLectura"></td>
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." title="{{ item.proceso }}" [(ngModel)]="item.procesos" (click)="saveProcesosParticular(i)" [disabled]="model.IsLectura"></td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.lstParticular[i].NuevoRegistro" (click)="deleteParticular(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.lstParticular[i].EliminarRegistro" (click)="eliminarParticular(item, i)"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addParticular()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.lstParticular?.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label style="color: #3F518D">Equipos Inspector <span class="form-required">(*)</span></label>
                </div>
            </div>
            <div class="form-table">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Proceso - SubProcesos</th>
                                <th>Grado Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.lstInspector; let i = index">
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." title="{{ item.procesos }}" [(ngModel)]="item.procesos" (click)="saveProcesosInspector(i)" [disabled]="model.IsLectura"></td>
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." title="{{ item.grado }}" [(ngModel)]="item.grado" (click)="saveGradoInspector(i)" [disabled]="model.IsLectura"></td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.lstInspector[i].NuevoRegistro" (click)="deleteInspector(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.lstInspector[i].EliminarRegistro" (click)="eliminarInspector(item, i)"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addInspector()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.lstInspector?.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col col100 subtitle-row">Expertos Técnicos</div>
            <div class="form-table">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Procesos - SubProcesos</th>
                                <th>Grado Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.lstTecnicos; let i = index">
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." title="{{ item.procesos }}" [(ngModel)]="item.procesos" (click)="saveProcesosTecnico(i)" [disabled]="model.IsLectura"></td>
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." title="{{ item.grado }}" [(ngModel)]="item.grado" (click)="saveGradoTecnicos(i)" [disabled]="model.IsLectura"></td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.lstTecnicos[i].NuevoRegistro" (click)="deleteTecnico(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.lstTecnicos[i].EliminarRegistro" (click)="eliminarTecnico(item, i)"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addTecnico()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.lstTecnicos?.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col col100 subtitle-row">Observador</div>
            <div class="form-table">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Observador</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.lstObservador; let i = index">
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." title="{{ item.observador }}" [(ngModel)]="item.observador" (click)="saveObservador(i)" [disabled]="model.IsLectura"></td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.lstObservador[i].NuevoRegistro" (click)="deleteObservador(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.lstObservador[i].EliminarRegistro" (click)="eliminarObservador(item, i)"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addObservador()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.lstObservador?.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Fecha Inicio Reunión Apertura <span class="form-required">(*)</span></label>
                    <input type="date" class="form-control" [(ngModel)]="model.varInspeccion.fecha_inicio"  [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Hora Inicio <span class="form-required">(*)</span></label>
                    <select class="form-control" [(ngModel)]="model.varInspeccion.hora_inicio" [disabled]="model.IsLectura">
                        <option value="" selected="selected">Seleccionar...</option>
                        <option value="00:00">00:00</option>
                        <option value="00:30">00:30</option>
                        <option value="01:00">01:00</option>
                        <option value="01:30">01:30</option>
                        <option value="02:00">02:00</option>
                        <option value="02:30">02:30</option>
                        <option value="03:00">03:00</option>
                        <option value="03:30">03:30</option>
                        <option value="04:00">04:00</option>
                        <option value="04:30">04:30</option>
                        <option value="05:00">05:00</option>
                        <option value="05:30">05:30</option>
                        <option value="06:00">06:00</option>
                        <option value="06:30">06:30</option>
                        <option value="07:00">07:00</option>
                        <option value="07:30">07:30</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                        <option value="21:30">21:30</option>
                        <option value="22:00">22:00</option>
                        <option value="22:30">22:30</option>
                        <option value="23:00">23:00</option>
                        <option value="23:30">23:30</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Fecha Cierre Reunión Apertura <span class="form-required">(*)</span></label>
                    <input type="date" [(ngModel)]="model.varInspeccion.fecha_cierre" class="form-control" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Hora Cierre <span class="form-required">(*)</span></label>
                    <select class="form-control" [(ngModel)]="model.varInspeccion.hora_termino"  [disabled]="model.IsLectura">
                        <option value="" selected="selected">Seleccionar...</option>
                        <option value="00:00">00:00</option>
                        <option value="00:30">00:30</option>
                        <option value="01:00">01:00</option>
                        <option value="01:30">01:30</option>
                        <option value="02:00">02:00</option>
                        <option value="02:30">02:30</option>
                        <option value="03:00">03:00</option>
                        <option value="03:30">03:30</option>
                        <option value="04:00">04:00</option>
                        <option value="04:30">04:30</option>
                        <option value="05:00">05:00</option>
                        <option value="05:30">05:30</option>
                        <option value="06:00">06:00</option>
                        <option value="06:30">06:30</option>
                        <option value="07:00">07:00</option>
                        <option value="07:30">07:30</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                        <option value="21:30">21:30</option>
                        <option value="22:00">22:00</option>
                        <option value="22:30">22:30</option>
                        <option value="23:00">23:00</option>
                        <option value="23:30">23:30</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Observaciones <span class="form-required">(*)</span></label>
                    <textarea class="form-control" rows="3" [(ngModel)]="model.varInspeccion.observaciones" [disabled]="model.IsLectura"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeInspeccion(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="crearInspeccion()" *ngIf="model.isCrear == true">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarInspeccion()" *ngIf="model.isCrear == false">Actualizar</button>
    </div>
</app-modal>

<app-modal [title]="model.title" [show]="planModal" [size]="'modal-lg2'" (close)="closePlan($event)">
    <div role="body">
        <div role="body">
            <div class="filter-content">
                <button type="button" class="btn btn-primary" (click)="openFormPlan()"><i class="fa fa-plus"></i></button>
                <input type="search" placeholder="Buscar..." (keyup)="searchPlan($event)" (search)="clearSearchPlan($event)">
            </div>
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Inspección</th>
                            <th>Fecha Inspección</th>
                            <!-- <th>Inspeccionado</th> -->
                            <th>Observaciones</th>
                            <th>Actividades Inspección</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let item of varplan">
                            <td>{{ item.codigo }}</td>
                            <td>{{ item.fecha }}</td>
                            <!-- <td>{{ item.inspeccionado }}</td> -->
                            <td>{{ item.observaciones }}</td>
                            <td class="buttons">
                                <button type="button" class="btn btn-info" (click)="openActividad(item)"><i class="fa fa-plus"></i></button>
                            </td>
                            <td class="buttons">
                                <button type="button" class="btn btn-info" (click)="editPlanInspeccion(item)"><i class="fa fa-pencil"> Editar</i></button>
                            </td>
                        </tr>
                        <tr *ngIf="varplan?.length == 0">
                            <div class="dbempty">No hay registros.</div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closePlan(false)">Cerrar</button>
    </div>
</app-modal>

<app-modal [title]="model.title" [show]="f_planModal" [size]="'modal-lg modal-h70'" (close)="closeFormPlan($event)">
    <div role="body">
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>Código Auditoria</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varPlanInspeccion.codigo" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Observaciones</label>
                    <textarea class="form-control" [(ngModel)]="model.varPlanInspeccion.observaciones"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeFormPlan(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="crearPlanInspeccion()" *ngIf="model.isCrear == true">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarPlanInspeccion()" *ngIf="model.isCrear == false">Actualizar</button>
    </div>
</app-modal>

<app-modal [title]="'Actividades Plan Inspección'" [show]="actividadModal" [size]="'modal-lg2'" (close)="closeActividad($event)">
    <div role="body">
        <div class="filter-content">
            <button type="button" class="btn btn-primary" (click)="openFormActividad()"><i class="fa fa-plus"></i></button>
            <input type="search" placeholder="Buscar..." (keyup)="searchActividad($event)" (search)="clearSearchActividad($event)">
        </div>
        <div class="table-content">
            <table class="table flex-table">
                <thead>
                    <tr>
                        <th>Actividad</th>
                        <th>Procesos - SubProcesos</th>
                        <th>Inspeccionado</th>
                        <th>Inspector</th>
                        <th>Fecha Inicio</th>
                        <th>Hora Inicio</th>
                        <th>Fecha Cierre</th>
                        <th>Hora Final</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="scroll">
                    <tr *ngFor="let item of varactividad; let i = index">
                        <td>{{ item.actividades }}</td>
                        <td>{{ item.procesos }}</td>
                        <td>{{ item.inspeccionado }}</td>
                        <td>{{ item.inspector }}</td>
                        <td>{{ item.fecha_inicio }}</td>
                        <td>{{ item.hora_inicio }}</td>
                        <td>{{ item.fecha_cierre }}</td>
                        <td>{{ item.hora_final }}</td>
                        <td class="buttons">
                            <button type="button" class="btn btn-info" (click)="editActividadPlanInspeccion(item)"><i class="fa fa-pencil"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="varactividad?.length == 0">
                        <div class="dbempty">No hay registros.</div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeActividad(false)">Cerrar</button>
    </div>
</app-modal>

<app-modal [title]="model.title" [show]="f_actividadModal" [size]="'modal-lg1'" (close)="closeFormActividad($event)">
    <div role="body">
        <div class="form-body">
            <!-- <div class="row">
                <div class="input-group">
                    <label>Criterio</label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." title="{{ model.varActividad.criterio }}" [(ngModel)]="model.varActividad.criterio" (click)="saveActividadCriterio()" [disabled]="model.IsLectura">
                </div>
            </div> -->
            <div class="row">
                <div class="input-group">
                    <label>Proceso</label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." title="{{ model.varActividad.proceso }}" [(ngModel)]="model.varActividad.proceso" (click)="saveActividadProceso()" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>SubProceso</label>
                    <input type="text" class="form-control" title="{{ model.varActividad.subproceso }}" [(ngModel)]="model.varActividad.subproceso" disabled>
                </div>
            </div>
            <!-- <div class="row">
                <div class="input-group">
                    <label>Lugar</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varActividad.lugar" [disabled]="model.IsLectura">
                </div>
            </div> -->
            <div class="row">
                <div class="input-group">
                    <label>Actividad</label>
                    <textarea class="form-control" rows="3" [(ngModel)]="model.varActividad.actividad" [disabled]="model.IsLectura"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Inspeccionado</label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varActividad.inspeccionado" (click)="saveActividadInspeccionado()" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Inspector</label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varActividad.inspector" (click)="saveActividadInspector()" [disabled]="model.IsLectura">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Fecha Inicio</label>
                    <input type="date" class="form-control" [(ngModel)]="model.varActividad.fecha_inicio" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Fecha Cierre</label>
                    <input type="date" class="form-control" [(ngModel)]="model.varActividad.fecha_cierre" [disabled]="model.IsLectura">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Hora Inicio</label>
                    <select class="form-control" [(ngModel)]="model.varActividad.hora_inicio" [disabled]="model.IsLectura">
                        <option value="" selected="selected">Seleccionar...</option>
                        <option value="00:00">00:00</option>
                        <option value="00:30">00:30</option>
                        <option value="01:00">01:00</option>
                        <option value="01:30">01:30</option>
                        <option value="02:00">02:00</option>
                        <option value="02:30">02:30</option>
                        <option value="03:00">03:00</option>
                        <option value="03:30">03:30</option>
                        <option value="04:00">04:00</option>
                        <option value="04:30">04:30</option>
                        <option value="05:00">05:00</option>
                        <option value="05:30">05:30</option>
                        <option value="06:00">06:00</option>
                        <option value="06:30">06:30</option>
                        <option value="07:00">07:00</option>
                        <option value="07:30">07:30</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                        <option value="21:30">21:30</option>
                        <option value="22:00">22:00</option>
                        <option value="22:30">22:30</option>
                        <option value="23:00">23:00</option>
                        <option value="23:30">23:30</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>Hora Final</label>
                    <select class="form-control" [(ngModel)]="model.varActividad.hora_final" [disabled]="model.IsLectura">
                        <option value="" selected="selected">Seleccionar...</option>
                        <option value="00:00">00:00</option>
                        <option value="00:30">00:30</option>
                        <option value="01:00">01:00</option>
                        <option value="01:30">01:30</option>
                        <option value="02:00">02:00</option>
                        <option value="02:30">02:30</option>
                        <option value="03:00">03:00</option>
                        <option value="03:30">03:30</option>
                        <option value="04:00">04:00</option>
                        <option value="04:30">04:30</option>
                        <option value="05:00">05:00</option>
                        <option value="05:30">05:30</option>
                        <option value="06:00">06:00</option>
                        <option value="06:30">06:30</option>
                        <option value="07:00">07:00</option>
                        <option value="07:30">07:30</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                        <option value="21:00">21:00</option>
                        <option value="21:30">21:30</option>
                        <option value="22:00">22:00</option>
                        <option value="22:30">22:30</option>
                        <option value="23:00">23:00</option>
                        <option value="23:30">23:30</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeFormActividad(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="crearActividadPlanInspeccion()" *ngIf="model.isCrear == true">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarActividadPlanInspeccion()" *ngIf="model.isCrear == false">Actualizar</button>
    </div>
</app-modal>

<app-select-modal [title]="'Unidad'" [titleHeader]="'Unidad,Dependencia'" [show]="selectUnidadModal" [size]="'modal-md modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectUnidadModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectUnidadModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-select-modal [title]="model.titleModal" [show]="selectModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-select-user-modal [title]="model.titleUser" [show]="selectUserModal" [size]="'modal-md modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectUserModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectUserModal(false)">Cerrar</button>
    </div>
</app-select-user-modal>

<app-select-modal [title]="'Procesos - SubProcesos'" [titleHeader]="'Procesos,SubProcesos'" [show]="selectProcesoModal" [size]="'modal-md modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectProcesoModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectProcesoModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<!-- <app-select-modal [title]="'Código Auditoría'" [show]="selectInspeccionModal" [size]="'modal-lg'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectInspeccionModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectModal(false)">Cerrar</button>
    </div>
</app-select-modal> -->