<card [items]="'Parametrizacion,Listas Dinamicas'">
    <!-- <div role="button" class="card-button">
        <button type="button" class="btn btn-primary" (click)="openCrearLista()"><i class="fa fa-plus"></i></button>
    </div> -->
    <div role="body">
        <div class="filter-content">
            <input type="search" placeholder="Buscar..." (keyup)="search($event)" (search)="clearSearch($event)">
        </div>
        <div class="table-content">
            <table class="table flex-table">
                <thead>
                    <tr>
                        <th>Nombre Lista</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="scroll">
                    <tr *ngFor="let item of model.varhistorial; let i = index">
                        <td>{{ item.nombre_lista }}</td>
                        <td>
                            <i class="fa fa-1m5x fa-check-circle" *ngIf="item.activo == 1"></i>
                            <i class="fa fa-1m5x fa-times-circle" *ngIf="item.activo == 0"></i>
                        </td>
                        <td class="buttons">
                            <button type="button" class="btn btn-info" (click)="editLista(item)"><i class="fa fa-pencil"></i> Editar</button>
                            <button type="button" class="btn btn-secondary" (click)="openListaDetalle(item)"><i class="fa fa-bars"></i> Listas Valores</button>
                        </td>
                    </tr>
                    <tr *ngIf="model.varhistorial?.length == 0">
                        <div class="dbempty">No hay registros.</div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</card>

<app-modal [title]="model.title" [show]="model.modal" [size]="'modal-sm'" (close)="closeListaModal($event)">
    <div role="body">
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>Nombre Lista:</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varLista.nombre_lista" style="text-transform: uppercase;">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Activo</label>
                    <input type="checkbox" checked="checked" [(ngModel)]="model.varLista.activo">
                </div>
            </div>
        </div>     
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeListaModal(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="crearLista()" *ngIf="model.isCrear == true">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarLista()" *ngIf="model.isCrear == false">Actualizar</button>
    </div>
</app-modal>

<app-modal [title]="model.title" [show]="model.detalleModal" [size]="'modal-lg1'" (close)="closeListaDetalleModal($event)">
    <div role="body">
        <div class="filter-content">
            <button type="button" class="btn btn-primary" (click)="openCrearListaDetalle()"><i class="fa fa-plus"></i></button>
            <input type="search" placeholder="Buscar..." (keyup)="searchDetalle($event)" (search)="clearSearchDetalle($event)">
        </div>
        <div class="table-content">
            <table class="table flex-table">
                <thead>
                    <tr>
                        <th>Lista Valor</th>
                        <th>Código</th>
                        <th>Padre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="scroll">
                    <tr *ngFor="let item of model.varhistorialDetalle; let i = index">
                        <td>{{ item.lista_dinamica }}</td>
                        <td>{{ item.codigo }}</td>
                        <td>{{ item.lista_padre }}</td>
                        <td>
                            <i class="fa fa-1m5x fa-check-circle" *ngIf="item.activo == 1"></i>
                            <i class="fa fa-1m5x fa-times-circle" *ngIf="item.activo == 0"></i>
                        </td>
                        <td class="buttons">
                            <button type="button" class="btn btn-info" (click)="editListaDetalle(item)"><i class="fa fa-pencil"></i> Editar</button>
                        </td>
                    </tr>
                    <tr *ngIf="model.varhistorialDetalle?.length == 0">
                        <div class="dbempty">No hay registros.</div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeListaDetalleModal(false)">Cerrar</button>
    </div>
</app-modal>

<app-modal [title]="model.titleValor" [show]="model.ldetalleModal" [size]="'modal-lg modal-h35'" (close)="closeListaDDetalleModal($event)">
    <div role="body">
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>Lista Valor:</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varListaDetalle.lista_dinamica">
                </div>
                <div class="input-group">
                    <label>Código:</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varListaDetalle.codigo">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Lista Valor Padre</label>
                    <input type="text" class="form-control" placeholder="Selccionar..." [(ngModel)]="model.varListaDetalle.nombre_valor" (click)="saveListaValor()">
                </div>
                <div class="input-group">
                    <label>Activo</label>
                    <input type="checkbox" checked="checked" [(ngModel)]="model.varListaDetalle.activo">
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeListaDDetalleModal(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="crearListaDetalle()" *ngIf="model.isCrear == true">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarListaDetalle()" *ngIf="model.isCrear == false">Actualizar</button>
    </div>
</app-modal>

<app-select-modal [title]="'Lista Valor Padre'" [show]="selectModal" [size]="'modal-lg1'" [titleHeader]="'Nombre Lista,Valor,Padre'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectModal(false)">Cerrar</button>
    </div>
</app-select-modal>