<card [items]="'Inspecciones,Hallazgos'">
    <div role="button" class="card-button" *ngIf="permiso.crear == 1">
        <button type="button" class="btn btn-primary" (click)="openAnotacion()"><i class="fa fa-plus"></i></button>
    </div>
    <div role="body">
        <div class="filter-content">
            <input type="search" placeholder="Buscar..." (keyup)="search($event)" (search)="clearSearch($event)">
        </div>
        <div class="table-content">
            <table class="table flex-table">
                <thead>
                    <tr>
                        <th>Codificación hallazgo</th>
                        <th>Descripción del hallazgo</th>
                        <th>Nombre Inspección</th>
                        <th>Código Tema</th>
                        <th>Tema Catalogación</th>
                        <th>Fecha hallazgo</th>
                        <th>Tipo hallazgo</th>
                        <th>Resumen del hallazgo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="scroll">
                    <tr *ngFor="let item of varhistorial">
                        <td>{{ item.codificacion }}</td>
                        <td>{{ item.descripcion_evidencia }}</td>
                        <td>{{ item.nombre_inspeccion }}</td>
                        <td>{{ item.codigo_tema }}</td>
                        <td>{{ item.tema_catalogacion }}</td>
                        <td>{{ item.fecha }}</td>
                        <td>{{ item.tipo_hallazgo }}</td>
                        <td class="buttons">
                            <ng-container *ngIf="item.tipo_hallazgo_cod == 'IN' || item.tipo_hallazgo_cod == 'IR' || item.tipo_hallazgo_cod == 'EI' || item.tipo_hallazgo_cod == 'RE'">
                                <button type="button" class="btn btn-info" (click)="openCausa(item)"><i class="fa fa-cogs"></i></button>
                            </ng-container>
                        </td>
                        <td class="buttons">
                            <button type="button" class="btn btn-info" (click)="editAnotacion(item)"><i class="fa fa-pencil"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="varhistorial?.length == 0">
                        <div class="dbempty">No hay registros.</div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</card>

<app-modal [title]="model.title" [show]="modal" [size]="'modal-lg2 modal-h90'" [scroll]="'modal-scroll'" (close)="closeAnotacion($event)">
    <div role="body">
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>Inspección <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varHallazgo.codigo" (click)="saveInspeccion()" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Nombre Inspección</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varHallazgo.nombre_inspeccion" disabled>
                </div>
                <!-- <div class="input-group">
                    <label>Línea Roja</label>
                    <select class="form-select">
                        <option value="0">Seleccionar...</option>
                        <option value="1">Sí</option>
                        <option value="2">No</option>
                    </select>
                </div> -->
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Tipo de hallazgo <span class="form-required">(*)</span></label>
                    <select [(ngModel)]="model.varHallazgo.tipo_hallazgo_id" class="form-select" (change)="changeTipoHallazgo(model.varHallazgo.tipo_hallazgo_id, 1)">
                        <option value="0">Seleccionar...</option>
                        <option *ngFor="let item of model.lstTipoHallazgo" value="{{ item.tipo_hallazgo_id }}">{{ item.tipo_hallazgo}}</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>Codificación de hallazgo</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varHallazgo.codificacion" disabled>
                </div>
                <div class="input-group">
                    <label>Fecha hallazgo</label>
                    <input type="date" class="form-control" [(ngModel)]="model.varHallazgo.fecha" [disabled]="model.IsLectura">
                </div>
            </div>
            <div class="row" *ngIf="tipo == 'IN' || tipo == 'IR' || tipo == 'EI' || tipo == 'RE'">
                <div class="input-group">
                    <label>Código Tema</label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varHallazgo.codigo_tema" (click)="saveCodigoTema()" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Tema Catalogación</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varHallazgo.tema_catalogacion" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Criterio que se incumple <span class="form-required">(*)</span></label>
                    <input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="model.varHallazgo.criterio" (click)="saveCriterio()" [disabled]="model.IsLectura">
                </div>
                <div class="input-group">
                    <label>Proceso</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varHallazgo.proceso" disabled>
                </div>
                <div class="input-group">
                    <label>SubProceso</label>
                    <input type="text" class="form-control" [(ngModel)]="model.varHallazgo.subproceso" disabled>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Descripción del hallazgo <span class="form-required">(*)</span></label>
                    <textarea class="form-control" rows="4" [(ngModel)]="model.varHallazgo.descripcion_evidencia" [disabled]="model.IsLectura"></textarea>
                </div>
                <!-- <div class="input-group">
                    <label>¿Se reportó en una auditoria anterior? <span class="form-required">(*)</span></label>
                    <textarea class="form-control" rows="4" [disabled]="model.IsLectura"></textarea>
                </div> -->
            </div>
            <div class="line-col"></div>
            <div class="row">
                <div class="input-group">
                    <label>Documentos</label>
                    <button type="button" class="btn btn-info" (click)="fileUpload.click()" style="width: 200px !important;">Elegir archivos</button>
                    <input type="file" #fileUpload (change)="uploadFile($event)">
                    <span class="label-archivo">{{ model.varHallazgo.archivo }}</span>
                </div>
            </div>
            <div class="form-table" *ngIf="model.lstArchivo.length != 0">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descargar</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.lstArchivo">
                                <td>{{ item.nombre }}</td>
                                <td><button type="button" class="btn btn-info"><a href="{{ item.link }}"><i class="fa fa-download"></i></a></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="line-col"></div>
            <div class="row" *ngIf="tipo == 'IN' || tipo == 'IR' || tipo == 'EI'">
                <div class="input-group">
                    <label>Responsable Corrección <span class="form-required">(*)</span></label>
                </div>
            </div>
            <div class="form-table" *ngIf="tipo == 'IN' || tipo == 'IR' || tipo == 'EI'">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Responsable</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.varCorreccion; let i = index">
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="item.dependencia" (click)="saveUnidad(i, 1)" [disabled]="model.IsLectura"></td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.varCorreccion[i].NuevoRegistro" (click)="deleteCorreccion(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.varCorreccion[i].EliminarRegistro"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addCorreccion()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.varCorreccion.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" *ngIf="tipo == 'IN' || tipo == 'IR' || tipo == 'EI' || tipo == 'RE'">
                <div class="input-group">
                    <label>Responsable Plan de Mejoramiento <span class="form-required">(*)</span></label>
                </div>
            </div>
            <div class="form-table" *ngIf="tipo == 'IN' || tipo == 'IR' || tipo == 'EI' || tipo == 'RE'">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Responsable</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.varMejoramiento; let i = index">
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="item.dependencia" (click)="saveUnidad(i, 2)" [disabled]="model.IsLectura"></td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.varMejoramiento[i].NuevoRegistro" (click)="deleteMejoramiento(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.varMejoramiento[i].EliminarRegistro"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addMejoramiento()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.varMejoramiento.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" *ngIf="tipo == 'O'">
                <div class="input-group">
                    <label>Responsable Orden <span class="form-required">(*)</span></label>
                </div>
            </div>
            <div class="form-table" *ngIf="tipo == 'O'">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Responsable</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.varOrden; let i = index">
                                <td><input type="text" class="form-control" placeholder="Seleccionar..." [(ngModel)]="item.dependencia" (click)="saveUnidad(i, 3)" [disabled]="model.IsLectura"></td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.varOrden[i].NuevoRegistro" (click)="deleteOrden(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.varOrden[i].EliminarRegistro"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addOrden()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.varOrden.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeAnotacion(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="crearAnotacion()" *ngIf="model.isCrear == true">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarAnotacion()"  *ngIf="model.isCrear == false">Actualizar</button>
    </div>
</app-modal>

<app-select-modal [title]="model.titleModal" [show]="selectModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-select-modal [title]="model.titleModal" [titleHeader]="'Código,Nombre Inspección'" [show]="selectInspeccionModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectInspeccionModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectInspeccionModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-select-codigo-modal [title]="model.titleModal" [titleHeader]="'Código,Tema Catalogación'" [show]="selectCodigoModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectCodigoModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectCodigoModal(false)">Cerrar</button>
    </div>
</app-select-codigo-modal>

<app-select-modal [title]="model.titleModal" [titleHeader]="'Criterio,Proceso,SubProceso'" [show]="selectCriterioModal" [size]="'modal-lg modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectCriterioModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectCriterioModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-select-modal [title]="'Unidad'" [titleHeader]="'Unidad,Dependencia'" [show]="selectUnidadModal" [size]="'modal-md modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectUnidadModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectUnidadModal(false)">Cerrar</button>
    </div>
</app-select-modal>

<app-modal [title]="'Detalle Hallazgo'" [show]="causaModal" [size]="'modal-lg1 modal-h90'" [scroll]="'modal-scroll'" (close)="closeCausa($event)">
    <div role="body">
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>Hallazgo:</label>
                    <textarea class="form-control-text" style="height: 150px !important;" [(ngModel)]="model.varHCausa.descripcion_evidencia" disabled></textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Inspección Código:</label>
                    <input type="text" class="form-control-text" [(ngModel)]="model.varHCausa.codigo" disabled>
                </div>
                <div class="input-group">
                    <label>Nombre Inspección</label>
                    <input type="text" class="form-control-text" [(ngModel)]="model.varHCausa.nombre_inspeccion" disabled>
                </div>
            </div>
            <div class="line-col"></div>
            <div class="col col100 title-row">Causa del incumplimiento</div>
            <div class="form-table">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Causa del incumplimiento</th>
                                <th>Actividades</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of model.lstCausa; let i = index">
                                <td>
                                    <input type="text" class="form-control" placeholder="Ingresa aquí..." title="{{ item.causa_raiz }}" [(ngModel)]="item.causa_raiz" [disabled]="model.IsLectura">
                                </td>
                                <td class="buttons">
                                    <button class="btn btn-info" *ngIf="model.lstCausa[i].NuevoRegistro != true" (click)="openActividad(item)"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-secondary" *ngIf="model.lstCausa[i].NuevoRegistro" disabled><i class="fa fa-pencil"></i></button>
                                </td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.lstCausa[i].NuevoRegistro" (click)="deleteCausa(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.lstCausa[i].EliminarRegistro" (click)="eliminarAnotacionCausaRaiz(i, item)"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addCausa()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.lstCausa.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeCausa(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="crearCausa()" *ngIf="model.isCrear == true">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarCausa()" *ngIf="model.isCrear == false">Actualizar</button>
    </div>
</app-modal>

<app-modal [title]="'Editar Causa del incumplimiento'" [show]="actividadModal" [size]="'modal-lg3 modal-h90'" [scroll]="'modal-scroll'" (close)="closeActividad($event)">
    <div role="body">
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>Causa del incumplimiento:</label>
                    <textarea class="form-control" style="height: 150px !important;" [(ngModel)]="model.varHActividad.causa_raiz"></textarea>
                </div>
            </div>
            <div class="line-col"></div>
            <div class="col col100 title-row">Actividad</div>
            <div class="form-table">
                <div class="table-content">
                    <table class="table flex-table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Entregable</th>
                                <th>Cantidad Entregable</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Termino</th>
                                <th *ngIf="tipo_hallazgo != 'AR' && tipo_hallazgo != 'OR'">Responsable</th>
                                <th *ngIf="model.IsLectura == false">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="scroll">
                            <tr *ngFor="let item of model.lstActividad; let i = index">
                                <td><button type="button" class="btn btn-info" (click)="openActividadDescripcion(item, i)"><i class="fa fa-pencil"></i></button></td>
                                <td><input type="text" class="form-control" placeholder="Ingresa aquí..." title="{{ item.entregable }}" [(ngModel)]="item.entregable" [disabled]="model.IsLectura"></td>
                                <td><input type="number" class="form-control" [(ngModel)]="item.cantidad_entregable" [disabled]="model.IsLectura"></td>
                                <td><input type="date" class="form-control" [(ngModel)]="item.fecha_inicio" [disabled]="model.IsLectura"></td>
                                <td><input type="date" class="form-control" [(ngModel)]="item.fecha_termino" [disabled]="model.IsLectura"></td>
                                <td *ngIf="tipo_hallazgo != 'AR' && tipo_hallazgo != 'OR'"><input type="text" class="form-control" placeholder="Seleccionar..." title="{{ item.dependencia }}" [(ngModel)]="item.dependencia" (click)="saveUnidadActividad(i)" [disabled]="model.IsLectura"></td>
                                <td *ngIf="model.IsLectura == false">
                                    <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.lstActividad[i].NuevoRegistro" (click)="deleteActividad(i)"></i>
                                    <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.lstActividad[i].EliminarRegistro" (click)="eliminarAnotacionActividad(i, item)"></i>
                                </td>
                            </tr>
                            <tr class="add_row_full" *ngIf="model.IsLectura == false">
                                <button type="button" class="btn btn-primary button" (click)="addActividad()">Agregar</button>
                            </tr>
                            <tr *ngIf="model.lstActividad.length == 0 && model.IsLectura == true">
                                <div class="dbempty">No hay registros.</div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeActividad(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarActividad()">Actualizar</button>
    </div>
</app-modal>

<app-select-unidad-modal [title]="'Unidad'" [titleHeader]="'Unidad,Dependencia'" [show]="selectUnidadActividadModal" [size]="'modal-md modal-h70'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectUnidadActividadModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectUnidadActividadModal(false)">Cerrar</button>
    </div>
</app-select-unidad-modal>

<app-select-user-modal [title]="model.titleModal" [show]="selectUserModal" [size]="'modal-lg'" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectUserModal($event)">
    <div role="footer">
        <button type="button" class="btn btn-danger" (click)="closeSelectUserModal(false)">Cerrar</button>
    </div>
</app-select-user-modal>